* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
.service {
    padding: 100px 0;
}

.max-width {
    max-width: 1300px;
    padding: 0 45px;
    margin: auto;
}

.max-width h1 {
    text-align: center;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4S0px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.max-width h1::after {
    content: '';
    position: absolute;
    width: 170px;
    height: 3px;
    background: white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    padding: 50px 25px;
    width: calc(26% - 20px);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    background: rgb(79, 174, 206);
    text-align: center;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card:hover{
    background: linear-gradient(-135deg, #71b7e6, rgba(4, 18, 250, 0.35));
}
.box {
    transition: all 0.3s ease;
}

.card:hover .box {
    transform: scale(1.12);
}
